<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de empleados</title>
</head>
<body>
    <h1>Gestión de empleados</h1>

    <form action="/add_empleado" method="POST">
        <h3>Añadir empleado</h3>
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="apellido1" placeholder="Primer apellido">
        <input type="text" name="apellido2" placeholder="Segundo apellido">
        <input type="text" name="departamento" placeholder="Departamento">
        <input type="number" name="salario" placeholder="Salario anual">

        <button type="submit">Agregar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Departamento</th>
                <th>Salario Anual</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        {% for e in empleados %}
        <tbody>
            <tr>
                <td>{{ e.1 }}</td>
                <td>{{ e.2 }}</td>
                <td>{{ e.3 }}</td>
                <td>{{ e.4 }}</td>
                <td>{{ e.5 }}€</td>
                <td><a href="/edit_empleado/{{ e.0 }}">Editar</a></td>
                <td><a href="/delete_empleado/{{ e.0 }}">Eliminar</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>