<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de empleador</title>
</head>
<body>
    <h1>Gestión de empleados</h1>
    <form action="" method="POST">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="apellido1" placeholder="Primer apellido">
        <input type="text" name="apellido2" placeholder="Segundo apellido">
        <input type="text" name="departamento" placeholder="Departamento">
        <input type="number" name="salario" placeholder="Salario anual">

        <button type="submit">Agregar</button>
    </form>
</body>
</html>